Cython==0.29.24
easydict==1.9
gdown==4.4.0
geopy==2.2.0
h5py==3.4.0
imageio==2.9.0
ipdb==0.13.9
matplotlib==3.1.2
motmetrics==1.2.5
numpy==1.17.4
opencv_python_headless==4.5.5.62
osgeo==0.0.1
pandas==1.3.3
Pillow==9.2.0
pycocotools==2.0.4
PyYAML==6.0
scipy==1.3.3
setuptools==45.2.0
six==1.14.0
torch==1.9.0
torchvision==0.10.0
tqdm==4.62.3
yacs==0.1.8
